.page {
    height: 100vh;
    /* padding: 40px 0 0 0; */
    background-color: #3c449e;
    font-family: 'DynaPuff', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    width: 600px;
    margin-top: 40px;
}
.page__buttons {
    margin-top: 40px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    width: 300px;
    height: 70px;
    background-color: #30c5c0;
    border-radius: 30px;
    border: 1px solid #068886;
    color: white;
    font-size: 25px;
    font-family: 'DynaPuff', cursive;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button:hover {
    background-color: #fcc200;
}