.title {
    margin: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #f2f2f2;
}
.text {
    padding: 15px 0 0 15px;
}
.text p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.closeBtn {
    cursor: pointer;
    font-size: 24px;
}

.buttonsBlock {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.buttonsBlock button {
    background: #f18c20;
    border-radius: 10px;
    border: 0;
    padding: 0 10px;
    height: 38px;
    cursor: pointer;
    transition: all 0.3s ease;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
}
.buttonsBlock button:hover {
    transform: scale(1.05);
}