.block-active {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 170px;
    height: 50px;
    opacity: 1;
    pointer-events: auto;
    background-color: tomato;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: white;
    font-family: sans-serif;
}
.block {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.title {
    margin: 0;
}