.gameWinner {
    width: 100vw;
    height: 100vh;
    background-color: #3c449e;
    font-family: 'DynaPuff', cursive;
    color: white;
    overflow: hidden;
}
.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.gameWinner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.gameWinner__content img {
    width: 312px;
    height: 312px;
}
.gameWinner__content__buttons {
    margin-top: 30px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    width: 300px;
    height: 70px;
    background-color: #30c5c0;
    border-radius: 30px;
    border: 1px solid #068886;
    color: white;
    font-size: 25px;
    font-family: 'DynaPuff', cursive;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button:hover {
    background-color: #fcc200;
}

@media (max-width: 1100px) {
    .container {
        width: 100%;
    }
    .gameWinner__content h3 {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .gameWinner__content h3 {
        font-size: 40px;
    }
}

@media (max-width: 700px) {
    .gameWinner__content__buttons {
        flex-direction: column;
        gap: 15px;
    }
}